<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sample.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="org.sample.domain.Permission">
            <id property="permissionId" column="permission_id" jdbcType="BIGINT"/>
            <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            <result property="permissionDesc" column="permission_desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        permission_id,permission_name,permission_desc
    </sql>
</mapper>
